/**
 * AJFisher slides design
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Extra bits
$primaryYellow: #F8DF1E;
$midtoneYellow: #A09019;
$darkYellow: #433C0A;
$primaryRed: #FF5E99;
$mainText: rgba(255,255,255,0.85);
$headingBackgroundColor: $primaryYellow;
$primaryGrey: rgb(63,63,63);
$textGrey: #3f3f3f;
$headingColor: $textGrey; 

$linkColor: $primaryYellow;
$highlightColor: $primaryYellow;

// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league-gothic/league-gothic.eot');
	src: url('../../lib/font/league-gothic/league-gothic.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league-gothic/league-gothic.woff') format('woff'),
		 url('../../lib/font/league-gothic/league-gothic.ttf') format('truetype'),
		 url('../../lib/font/league-gothic/league-gothic.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( darken($primaryGrey, 30%), $primaryGrey );
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


