/**
 * AJFisher slides design
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Extra bits
$primaryYellow: rgb(241, 213, 16);
$primaryRed: #FF5E99;
$mainText: rgba(255,255,255,0.85);
$headingBackgroundColor: $primaryRed;
$primaryGrey: rgb(63,63,63);

// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Background generator
@mixin bodyBackground() {
	//@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
	@include radial-gradient( darken($primaryGrey, 30%), $primaryGrey );
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


